:root {
  --blue: #3498db;
  --orange: #e67e22;
  --green: #1abc9c;
  --red: #e74c3c;
}

.headerC {
  background-color: #537895;
  background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
}

.header__link {
  color: white;
  text-decoration: none;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.header__lineOne {
  font-size: 13px;
}

.header__lineTwo {
  font-size: 15px;
}

.logo {
  margin: 10px;
  color: white;
}
