.footerC {
  display: flex;

  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  padding: 1rem;
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}

.cardB {
  border: none;
  border-radius: 1rem;
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);

  margin-left: 2rem;
  margin-right: 2rem;
  color: rgb(53, 53, 53);
}

.cardButton {
  border: none;
}

footer {
  text-align: center;
  background-color: #d9e4f5;
  background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
  padding: 7px;
}
